.contenedor-perfil{
  width: 1000px;
  height: 300px;
  display: flex;
  background-color: papayawhip;
  margin: 10px 10px 30px;
  justify-content: center;
}

.imagen-perfil{
  height: 100%;
  width: auto;
}

.contenedor-texto-perfil{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
  padding-bottom: 25px;
}

.nombre-perfil{
  font-size: 2 rem;
}

.cargo-perfil{
  font-size: 1 rem;
  margin-top: 10px;  
}

.texto-perfil{
  font-size: 1 rem;
 }
